#header {
    width: 100%;
    min-height: 60px;
    background-color: white;
    z-index: 30;
    border-bottom: solid 1px gray;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    visibility: hidden;
}

.icon {
    margin-left: 25px;
    margin-right: 200px;
    background-image: url("../Images/baseline_calendar_today_black_48dp.png");
    background-size: cover;
    width: 30px;
    height: 30px;
}

.nav-button {
    background-size: 40px;
    height: 40px;
    background-repeat: no-repeat no-repeat;
}

    .nav-button:hover {
        cursor: pointer;
        background-color: #eeeeee;
        color: black;
    }

.circleBtn {
    border-radius: 40px;
    box-shadow: 1px 1px 7px grey;
    width: 40px;
}

.left {
    margin-left: 20px;
    margin-right: 20px;
    background-image: url("../Images/baseline_keyboard_arrow_left_black_48dp.png");
    background-position-x: -2px;
}

.right {
    background-image: url("../Images/baseline_keyboard_arrow_right_black_48dp.png");
    background-position-x: 2px;
}

.textBtn {
    text-align: center;
    font-weight: 600;
    color: #444;
    font-size: 13pt;
    padding: 7px 15px;
    box-shadow: 1px 1px 7px grey;
    /*border: solid 1px #333333;*/
    border-radius: 5px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.currentDate {
    margin-left: 20px;
    font-size: 18pt;
    cursor: default;
}

.typeSelect {
    margin-left: 500px;
}

.notifications {
    margin-left: 25px;
    background-size: 30px;
    background-position: center;
    background-image: url("../Images/baseline_notification_important_black_48dp.png");
}

.settings {
    margin-left: 25px;
    background-size: 30px;
    background-position: center;
    background-image: url("../Images/baseline_settings_black_48dp.png");
}
