#dropDown {
    display: none;
    position: absolute;
    width: 170px;
    height: 100px;
    top: 100px;
    right: 100px;
    z-index: 5;
    background-color: white;

    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: flex-start;
    box-shadow: 1px 1px 7px grey;
}

.dropItem {
    min-height: 50px;
    font-size: 13pt;
    padding: 10px 14px;
    box-shadow: inset 0px -1px 3px grey;
    cursor: pointer;
    font-family: "Trebuchet MS", Helvetica, sans-serif; 
    visibility: hidden;
}

.dropItem:hover {
    background-color: lightgray;
}