#sideBar {
    visibility: hidden;
    width: 250px;
    border-right: solid 1px dimgray;
}

#microCalendar {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    margin: 20px 20px;
}

.microItem {
    font-family: monospace;
    font-weight: 600;
    font-size: 9pt;
    width: calc(100%/7);
    text-align: center;
    padding-top: 7px;
    padding-bottom: 6px;
    color: #555555;
}

.microItem:hover{
    border-radius: 50px;
    background-color: #eeeeee;
}
