#sideBar {
    visibility: hidden;
    max-width: 250px;
    border-right: solid 1px dimgray;
}

#microCalendar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    background-color: #ddeeff;
    margin: 10px;
}

.microItem {
    width: 35px;
    height: 35px;
    margin: 3px 3px;
    border-radius: 35px;
    padding-top: 5px;
    padding-left: 10px;
    background-color: white;
    border: lightgray 1px solid;
    border-width: 1px 1px 0px 0px;
    overflow-y: auto;
}
